language: node_js
node_js:
  - '0.8'
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-playground' ]; then cd .. && eval "mv $currentfolder generator-playground" && cd generator-playground; fi
  # Git config so test commits don't fail
  - git config --global user.name travis
  - git config --global user.email test@travis-ci.org

